@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title= "CONTRIBE"</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>VÄLKOMMEN, HELT ENKELT!
Contribe är en leverantör inom systemutveckling, test/verifiering och verksamhetsutveckling. En snabbt växande skara IT-konsulter med ett och samma mål – att ge våra kunder tillgång till smarta sätt att effektivisera och eliminera krångel i vardagen.

Contribe är din expertresurs, din kollega och din leverantör – när och så länge du behöver det. Vi vet att vår prestigelösa attityd smittar av sig på kunder och nya medarbetare. Det blir ofta så när man trivs ihop och ser resultat. Du är varmt välkommen in i gemenskapen.</p>
